<%- include('layouts/header') -%>
<main class="container">
  <% if(errors) {%> <% errors?.forEach(error => {%>

  <div class="alert alert-danger">
    <%= error.instancePath.slice(1,error.instancePath.length)+ ' '+
    error.message %>
  </div>
  <% }); %> <% } %>

  <div class="row">
    <div class="col-xs-12 col-md-3 mt-5">
      <h3>Categories</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/products">All products</a>
        </li>
        <% categories.forEach(function(c){ %>
        <li class="list-group-item">
          <a href="/products/<%= c.slug %>"><%= c.title %></a>
        </li>
        <% }); %>
      </ul>
    </div>
    <div class="col-xs-12 col-md-9 mt-5">
      <div class="row products py-5">
        <% products.forEach(function(p){ %>
        <div class="col-xs-12 col-md-4 p mb-3">
          <div class="wrapper card">
            <a class="pa" href="/products/<%= p.category %>/<%= p.slug %>">
              <img
                class="pimage card-img-top"
                src="/product_images/<%= p.id %>/<%= p.image %>"
                alt=""
              />
            </a>
            <div class="card-body">
              <h4 class="card-title"><%= p.title %></h4>
              <p class="card-text fw-bold">$<%= parseFloat(p.price).toFixed(2) %></p>
              <a
                class="vd btn btn-primary"
                href="/products/<%= p.category %>/<%= p.slug %>"
                >View Details</a
              >
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <%- include('layouts/footer') -%>
    </div>
  </div>
</main>
